.header_container{
    display: flex;
    
    /* max-width: 90%;
    width: 90%; */
    height: auto;
    margin: 0 auto;
    justify-content: space-between;

}

.div1{
    width: 67%;
    height: auto;
    
}

.div1 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.image_header a{
    position: absolute;
display: inline;

}
.div2{
    width: 30%;
    background-color: brown;
}